:root {
  --color-app: #505f79;
  --header-height: 60px;
}

html.dark {
  --color-app: #ebf4f1;
}

@layer {
  .light body {
    @apply text-gray-700 bg-white;
  }

  .dark body {
    @apply text-gray-200 bg-gray-900;
  }
  .sepia body {
    background-color: #f1e7d0;
    color: #433422;
  }
}
